version: '3.8'

services:
  api:
    build: .
    container_name: raisin_mlops_service
    ports:
      - "8000:8000"
    working_dir: /app
    volumes:
        - .:/app
    environment:
      - ENV=development
      - PYTHONUNBUFFERED=1
    restart: always